main.application-status {
	width: 100%;
	overflow: auto;

	h1 {
		background-color: #4DA0ED;
	}
	ul.banks {
		float: left;
		margin-right: 20px;
		width: 60%;

		li {
			display: block;
			overflow: auto;

			h3 {
				float: left;
				padding: 5px 8px;
				color: blue;
				border: 1px solid #444;
				border-radius: 4px;
			}
			span {
				float: left;
				padding: 5px 8px;
				color: blue;
				border: 1px solid #444;
				border-radius: 4px;
			}
		}
	}
	ul.tools {
		float: left; 
		width: 30%;
		border: 1px solid #444;
		border-radius: 4px;
	}
}