main.clientList{
    h2{
        text-align:center;
        margin: 1em auto 0 auto;
    }
    section.clientList{
        padding-top: 30px;
        width: 100%;
        min-height: 100%;

        ul {
            margin: 0 auto;
            width: 100%;
            list-style: none;
            overflow: auto;

            li {
                float: left;
                margin: 0 5px 30px 0;
                width: calc((100% - 15px) / 4);
                background-color: #fff;
                border: 1px solid #e8e8e8;
                border-radius: 10px;

                div.client-content {
                    position: relative;
                    width: 100%;

                    
                    span {
                        padding: 50px 0px 50px 0px;
                        display: block;
                        width: 100%;
                        white-space: nowrap;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 20px;
                        color: #666;
                    }
                }
            }
            li.active {
                opacity: 0.7;
                
                div.client-content {

                    
                    background-color:#2D8A3F;
                    
                }
            }
            li:nth-child(5n-1) {
                margin-right: 0;
            }

        }
    }
    section.adminsettings{
        margin: 0 auto;
        div{
            width:50;
            margin: 0 auto 0 auto;
            input {
                display: block;
                margin: 0 auto;
                
                width: 250px;
                
                border: none;
                border: 1px solid #dce4e6;
                border-style: solid solid none solid;

                -webkit-appearance: none; 
                -moz-appearance: none;

                padding: 8px 0;
                font-weight: bold;
                color: #fff;
                background-color: #378ad0;

                border-radius: 0 0 3px 3px;
            
            }
        }

    }
}