main.clientList{

    section.clientList{
        padding-top: 30px;
        width: 100%;
        min-height: 100%;

        ul {
            margin: 0 auto;
            width: 100%;
            list-style: none;
            overflow: auto;

            li {
                float: left;
                margin: 0 5px 5px 0;
                width: calc((100% - 15px) / 4);
                background-color: #fff;
                border: 1px solid #e8e8e8;
                border-radius: 10px;

                div.client-content {
                    position: relative;
                    width: 100%;

                    
                    span {
                        padding: 50px 0px 50px 0px;
                        display: block;
                        width: 100%;
                        white-space: nowrap;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 20px;
                        color: #666;
                    }
                }
            }
            li.active {
                opacity: 0.7;
                
                div.client-content {

                    
                    background-color:#2D8A3F;
                    
                }
            }
            li:nth-child(5n-1) {
                margin-right: 0;
            }

        }
    }
}