main.supplement {
  // section.pdfView {
  //   width: 100%;
  //   overflow: scroll;
  //   height: 100%;
  //   object {
  //     display:block;
  //     border: 0;
  //     overflow: scroll;
  //     width:100%;
  //     height:100%;
  //   }
  //   embed {
  //     overflow: scroll;
  //   }
  // }

section{
  // width:718px;
  // height:2000px;
  iframe{
    display:block;
    width:900px;
    height:1800px;
    overflow: auto;
    border: 0;
    align: center;
    margin-left: 20%;
  }

}


}
