main.supplement {
    section.supplementContent{
        width:80%;
        border-style: solid;
        border-width: 5px;
        margin: 2em auto;
        h3{
            margin: 1em auto 1em auto;
            text-align: center;
        }
        p{
            margin: 0 1em 1em 1em;
        }
        span.underline{
            text-decoration: underline;
        }
        div.input{
            width: 100%;
            margin: 2em 1em 1em 1em;
            div.checkboxdiv{
                margin:0 auto;
                input[type=checkbox].checkbox{
                    margin:0 auto;
                    display: inline-block;
                    border: 2px solid black;
                    border-radius: 0px;
                }
                span.checkboxtext{
                    margin:0 auto;
                }
            }
            div.initialdiv{
                margin: 1em auto;
                span{
                    font:bold;
                }
                input[type=text].initial{
                    height: 1.5em;
                    margin: 0 1em;
                    display: inline-block;
                    border: none;
                    width: 4em;
                    border-bottom: solid 2px black;
                    border-radius: 0px;
                }
            }
            div.applicantdiv{
                display: inline-block;
                margin: 0 auto;
                width: 48%;
                input[type=text].signature{
                    margin: 1em 0;
                    height: 1.5em;
                    display: inline-block;
                    padding: 0px;
                    border: none;
                    width: auto;
                    border-bottom: solid 2px black;
                    border-radius: 0px;
                }
                input[type=text].other{
                    margin: 1em 0;
                    height: 1.5em;
                    display: inline-block;
                    padding: 0px;
                    border: none;
                    width: auto;
                    border-bottom: solid 2px black;
                    border-radius: 0px;
                }
                span{
                    display: inline-block;
                    font-size: large;

                }
            }

        }
    }


} 


