main.TIL {
  section.input{
    span {
      font-size: 18px;
    }
    form {
      ul{
        li{
          div.inputs{
            label {
              font-size: 18px;
              height: 20px;
              width: 200px;
              margin-left: 10px;
              text-align: right;
              clear: both;
            }
              input {
                height: 20px;
                width: 300px;
                border: 1px solid #000;
                float: right;
              }
          }
        }
      }
    }
  }
}
