main.TIL {
  span.title {
    font-family:arial;
    font-size: 30px;
  }
  section.input{
    span.SalesData{
      font-family:arial;
      font-size: 20px;
    }
    form {
      border: 1px;
      ul{
        li{
          div.inputs{
            label {
              font-size: 18px;
              height: 20px;
              width: 200px;
              margin-left: 10px;
              text-align: right;
              clear: both;
            }
              input {
                height: 20px;
                width: 300px;
                border: 1px solid #000;
                float: right;
              }
          }
        }
      }
    }
    table {
      border: 3px;
    }
    div.result{
      margin-top: 5px;
      span.one{
        float:right;
      }
    }
  }
}
