<main class="FeldcoLoanRequest">
	<span>Credit Application Form</span><br>
	
	<label>
    	<span>Check Account Choice: </span><br>
    	<input type="radio" ng-model="formInfo.choice" ng-value="true" />Individual
    	<input type="radio" ng-model="formInfo.choice" ng-value="false" />Joint
    </label>
    
    <label>
	    <span>First Name</span>
	    <input type="text" placeholder="John" ng-model="formInfo.firstName">
	</label>

	<label>
		<span>Middle Initial</span>
		<input type="text" placeholder="K." ng-model="formInfo.middleInitial">
	</label>

	<label>
		<span>Last Name</span>
		<input type="text" placeholder="Doe" ng-model="formInfo.lastName">
	</label>

	<label>
		<span>Date of Birth</span>
		<input type="date" ng-model="formInfo.birthDate">
	</label>

	<label>
		<span>Social Security Number</span>
		<input type="text" placeholder="XXXXXXXXX" ng-model="formInfo.lastName">
	</label>

	<label>
		<span>Physical Street Address</span>
		<input type="text" placeholder="" ng-model="formInfo.address">
	</label>

	<label>
		<span>Physical Street Address</span>
		<input type="text" placeholder="" ng-model="formInfo.address">
	</label>

	<label>
    	<span>Address Type:</span>
    	<input type="radio" ng-model="formInfo.addressType" ng-value="true" />Own
    	<input type="radio" ng-model="formInfo.addressType" ng-value="false" />Rent
    </label>


</main>
