<super-navbar>
  	<super-navbar-title>Status</super-navbar-title>
</super-navbar>


<main class="application-status">

	<section class="statuses">
		<ul class="banks">
			<li>
				<h3>Feldco Finance</h3>
				<div class="bank-info">
					<span class="status">Approved</span>
					<span class="amount">$15,000</span>
				</div>
			</li>
			<li>
				<h3>Wells Fargo</h3>
			</li>
			<li>
				<h3>GreenSky</h3>
			</li>
		</ul>
		<ul class="tools">
			<li>TIL Calculations</li>
			<li>Promo Templates</li>
		</ul>
	</section>

</main>