<super-navbar>
  	<super-navbar-title>Log In</super-navbar-title>
</super-navbar>


<main class="login" ng-controller="LoginController">

	<section class="banner">
		<h1>Feldco Financing Portal</h1>
		<img src="/img/logo.jpg" />
		<form>
			<input type="text" placeholder="username" />
			<input type="password" placeholder="password" />
			<input type="submit" onclick="supersonic.ui.initialView.dismiss()" value="Log In" />
		</form>
    
    <super-navigate location="common#supplement">
      <button class="button button-block button-positive"> navigate to "common/supplement.html"</button>
    </super-navigate>
	</section>

</main>
