<super-navbar>
  	<super-navbar-title>Log In</super-navbar-title>
</super-navbar>


<main class="login" ng-controller="LoginController">

	<section class="banner">
		<h1>Feldco Financing Portal</h1>
		<img src="/img/logo.jpg" />
		<form>
			<input type="text" placeholder="username" ng-model="username"/>
			<input type="password" placeholder="password" ng-model="password" />
			<input type="submit" ng-click="submit()" value="Log In" />
		</form>
    <!-- <super-navigate location="common#TIL">
         <button class="button button-block">    Go to TIL view  </button>
    </super-navigate> -->
	</section>

</main>
