<main class="supplement" ng-controller="SupplementController">

    <section class="supplementContent">
        <h3>SUPPLEMENT TO CREDIT APPLICATION</h3>
        <p>{{supplementContent1}}<span class = "underline">{{supplementContent2}}</span></p>
        <div class = "input">
            <div class = "checkboxdiv">
                <input type="checkbox" class="checkbox" ng-model="agree">
                <span class="checkboxtext">I agree this supplement</span>
            </div>
            <div class = "initialdiv">
                <span>If this is an application for joint credit, initial here:</span>
                <input class = "initial" type = "text" ng-model="applicant.initial">
                <input class = "initial" type = "text" ng-model="coApplicant.initial">
            </div>
            <div class = "applicantdiv">
                <div class="inputline">
                  <div id="signature-pad" class="m-signature-pad">
                    <div class="m-signature-pad--body">
                      <canvas></canvas>
                    </div>
                  </div>
                    <span>Sign above</span>
                </div>
                <div class="inputline">
                    <span>Date</span><input class = "other" type="text" placeholder="" ng-model="applicant.signDate">
                </div>
                <div class="inputline">
                    <span>Driving License</span><input class = "other" type="text" placeholder="" ng-model="applicant.drivingLicense">
                </div>
                <div class="inputline">
                    <span>Exp Date</span><input class = "other" type="text" placeholder="" ng-model="applicant.expireDate">
                </div>
            </div>
            <div class = "applicantdiv">
                <div class="inputline">
                    <div id="signature-pad_2" class="m-signature-pad">
                      <div class="m-signature-pad--body">
                        <canvas></canvas>
                      </div>
                    </div>
                    <span>Sign above</span>
                </div>
                <div class="inputline">
                    <span>Date</span><input class = "other" type="text" placeholder="" ng-model="coApplicant.signDate">
                </div>
                <div class="inputline">
                    <span>Driving License</span><input class = "other" type="text" placeholder="" ng-model="coApplicant.drivingLicense">
                </div>
                <div class="inputline">
                    <span>Exp Date</span><input class = "other" type="text" placeholder="" ng-model="coApplicant.expireDate">
                </div>
            </div>
        </div>
        
        <div class="m-signature-pad--footer">
          <button class="button clear" ng-click="Clear()">Clear Both Signatures</button>
          <!-- <button class="button save" ng-click="Save()">Save</button> -->
        </div>
        <!-- <table><tr><td><img id="canvasImg" width="200px"></td><td><img id="canvasImg_2" width="200px"></td></tr></table> -->
        <div class="submit" ng-if="agree">
            <button class="button button-block button-positive" ng-click = "submit()">Submit</button>
        </div>
    </section>
</main>
