<main class="supplement" ng-controller="SupplementController">
<!-- <section class ="pdfView">
  <object data="/pdf/homework.pdf" type="application/pdf"> -->
      <!-- <embed src="/pdf/homework.pdf" type="application/pdf" /> -->
  <!-- </object>
</section> -->

  <section>
    <iframe src="http://docs.google.com/gview?url=https://dochub.com/yuxuanhe/VVrWoV/homework.pdf&embedded=true" frameborder="0"></iframe>
  </section>


  <super-navigate location="common#applicationForm">
    <button class="button button-block button-positive"> navigate to "common/applicationForm"</button>
  </super-navigate>

</main>
