<super-navbar>
    <super-navbar-title>Feldco Finance TIL Calculations</super-navbar-title>
</super-navbar>
<main class="TIL" ng-controller="TILController">
{{temp}}</br>
<span>Feldo Finance Truth in Lending Calculator</span>
<section class = "input">
  <span class="Sales Data">Input the followig Sales Data: <span>
    <form>
			<ul>
				<li>
          <div class="inputs">
					  <label>Total Sale Price: </label>
						<input type="text" placeholder="$15,000.00" ng-model="TILInfo.totalPrice">
					</div>
					<hr>
				</li>
				<li>
          <div class="inputs">
					  <label>Deposit: </label>
						<input type="text" placeholder="$15,000.00" ng-model="TILInfo.depositAmount">
					</div>
					<hr>
				</li>
        <li>
          <div class="inputs">
					  <label>Amount Financed: </label>
						<input type="text" placeholder="$15,000.00" ng-model="TILInfo.financeAmount">
					</div>
					<hr>
				</li>
        <li>
          <div class="inputs">
					  <label>APR: </label>
						<input type="text" placeholder="$15,000.00" ng-model="TILInfo.APRAmount">
					</div>
					<hr>
				</li>
        <li>
          <div class="inputs">
					  <label>Term: </label>
						<input type="text" placeholder="$15,000.00" ng-model="TILInfo.TermAmount">
					</div>
					<hr>
				</li>
      </ul>
    </form>
    <button ng-click = "Calculate">Click here to calculate</button></br>
    <span>Note: Follow the template below to fill out the Truth in Lending Section on the Retail installment Contract</span>
    <span>Truth in Lending Figure below in Green</span>
    <table border="1">
      <tr>
        <th>BOX 1</th>
        <th>BOX 2</th>
        <th>BOX 3</th>
        <th>BOX 4</th>
        <th>BOX 5</th>
      </tr>
      <tr>
        <td>ANNUAL PERCENTAGE</br>The cost of your credit as a yearly rate.</td>
        <td>FINANCE CHARGE</br>The dollar amount the credit will cost you.</td>
        <td>AMOUNT FINANCED</br>The amount of Credit provided to you or on your behalf.</td>
        <td>TOTAL OF PAYMENTS</br>The Amount you will have paid after you have made allpayment as scheduled</td>
        <td>TOTAL SALE PRICE</br>The total cost of your purchase on credit, including your down payment of </br><span>$156.00</span></td>
      </tr>
      <tr>
        <td><span>$100</span></td>
        <td><span>$100</span></td>
        <td><span>$100</span></td>
        <td><span>$100</span></td>
        <td><span>$100</span></td>
      </tr>
    </table>
    <div class="result">
      <span>59 Payments $128</span>
      <span>1 Payment $64.41</span>
    </div>

</section>
</main>
